/* ===========================
   logistics PAGE STYLES
   =========================== */

/* Container geral da página */



.logistics-hero {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 40px 30px;
    text-align: center;
    background: linear-gradient(to bottom, #f5f5f5 0%, #e9e9e9 100%);
    border-top: 3px solid #37b437;
    border-bottom: 3px solid #37b437;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 220px;
    border-radius: 8px;
    margin-top: 93px; /* compensação do header fixo */
    margin-bottom: 20px;
}

.logistics-hero h1 {
  font-size: 2.8rem;
  color: var(--eds-dark);
  margin-bottom: 10px;
}

.logistics-hero p {
  font-size: 1.2rem;
  color: var(--eds-gray-dark);
}

/* Grid box principal */
.logistics-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 60px 5% 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Caixa de texto */
.logistics-left {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Caixa da imagem */
.logistics-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tamanho da caixa controlável */
.logistics-img-container {
  width: 90%; /* ajuste como quiser */
  max-width: 400px; /* ou 100%, ou 300px, etc. */
  height: auto;
}

/* Imagem preenche a caixa */
.logistics-img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}


.logistics-left h1 {
  font-size: 2.2rem;
  color: var(--eds-dark);
  margin-bottom: 20px;
  font-weight: 600;
  text-align: left; /* ou center se preferir */
}

.logistics-left p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
  color: var(--eds-text);
}



/* Containers dos subtipos de logistics */

.logistics-subtypes {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}
/* Seções Alternadas */


/* Específico para supply-chain */
.supply-chain {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px 0;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.04);
  background-color: var (--eds-success);
  box-sizing: border-box;
  align-self: flex-start;
  text-align: right;
  align-items: flex-start;
}

.supply-chain {
  align-self: flex-start;
  background-color: var(--eds-green-50);
  text-align: center;
  align-items: flex-start;
}

.supply-chain p {
 max-width: 50%; /* Ajustado para ocupar 100% da largura do container interno */
  text-align: justify; /* Texto justificado */
  margin-left: 25%; /* Alinha o bloco de texto à direita */
  line-height: 1.6;
  color: var(--eds-dark);
  font-size: 1.1rem;
}

.btn-supply-chain {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--eds-primary);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}



/* Específico para warehouse-stock */
.warehouse-stock {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px 0;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.04);
  background-color: var(--eds-gray-very-soft);
  box-sizing: border-box;
  align-self: flex-end;
  text-align: right;
  align-items: flex-end;
}


.warehouse-stock {
  align-self: flex-end;
  background-color: var( --eds-green-100);
  text-align: center;
  align-items: flex-end;
}

.warehouse-stock p {
  max-width: 50%; /* Ajustado para ocupar 100% da largura do container interno */
  text-align: justify; /* Texto justificado */
  margin-left: 25%; /* Alinha o bloco de texto à direita */
  line-height: 1.6;
  color: var(--eds-dark);
  font-size: 1.1rem;
  }

.btn-warehouse-stock {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--eds-primary);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}



/* Responsivo */
@media (max-width: 768px) {
  .logistics-main-grid {
    grid-template-columns: 1fr;
  }
  .logistics-subtype {
    flex-direction: column !important;
    width: 100%;
  }
  .logistics-subtype img {
    width: 100%;
  }
}
